<span id="name"><%= name %></span> 
<a href="#" class="btn btn-success" id="edit_name_button">Edit Name</a>
<a href="#" class="btn btn-info" id="edit_users">Edit Users</a>
<a href="#" class="btn btn-danger" id="delete_board">Delete Board</a>