<h1><%= name %></h1>

<h3>Remaining Tasks: </h3>

<ul id="tasks"></ul>

<h3>Finished Tasks: </h3>

<ul id="finished"></ul>

<form id="new_task">
  <input type="text" name="name" id="new_task_name">
  <input type="submit" value="Add New Task">
</form>