<h4>Users Assigned to This Board</h4>
<ul class="site-stats" id="user-list">
      
</ul>

<form id="edit_board_name_form">
  <input type="text" name="name" id="edit_board_name" value="<%= name %>">
  <input type="submit" value="Edit Name">
</form>