<div class="widget-title">
  <h5>Board Information</h5>
</div>

<div class="widget-content" id="users">
  <h4>Users Assigned to This Board</h4>
  <ul class="site-stats" id="user-list">
        
  </ul>

  <form id="add_users_form">
    <input type="text" name="name" id="user_email">
    <input type="submit" value="Add User (by email)">
  </form>
</div>