<div class="comments">
  <span class="user-info"><%= poster_name %> at <%= created_at %></span>
  <p><%= content %> <a href="#" class="btn btn-small btn-danger delete_button">Delete</a></p> 
</div>

