<div id="header">
  <h1 id="welcome">Welcome to a crappy one page app</h1>
  <ul id="nav_links">
    <li>Link1</li>
    <li>Link2</li>
    <li>Link3</li>
  </ul>
</div>



<div id="container">

</div>