<form id="edit_description_form">
  <input type="text" name="description" id="edit_task_description" value="<%= task.escape('description') %>">
  <input type="submit" value="Edit Description">
</form>