<h1>Failboat</h1>

<form id="new_task">
  <input type="text" name="name" id="new_task_name">
  <input type="submit" value="Add New Task">
</form>


<h2>To Do</h2>
<ul id="tasks">
</ul>

<h2>Finished (click box to remove)</h2>
<ul id="finished"></ul>