<%= task.escape('name') %> | <%= task.escape('done') %> | 
<% if(task.get('done') === true) { %>
  <a href="#" class="toggle">Mark as unfinished</a> |
<% } else { %>
  <a href="#" class="toggle">Mark as finished</a>
<% } %>
<input type="checkbox" name="remove">
