<% if(user.get('email')) { %>

<ul class="nav nav-list" id="nav-sidebar">
  <li class="nav-header" id="sidebar-header">
    Controls for <%= user.get('email') %>
  </li>
  <li><a href="#">Boards Index</a></li>
  <li class="nav-header" id="sidebar-account">
    Account Options
  </li>
  <li>Placeholder for edit account</li>
  <li>Placeholder for edit email settings etc...</li>

</ul>



<% } else { %>

  <img src='/assets/spinner.gif' />

<% } %>